<div class="container">
  <h1 class="mb-5 mt-3">Grammar checker</h1>
  <div ngbAccordion>
    <div ngbAccordionItem [collapsed]="false">
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Full text grammmar check</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="d-flex">
              <div class="col-5">
                <textarea [(ngModel)]="text" class="w-100" rows="10"></textarea>
              </div>
              <div class="col-2 d-flex justify-content-center align-items-center flex-column">
                <button class="btn btn-primary" (click)="correctText()" [disabled]="loading">Correct</button>
                <ngb-progressbar *ngIf="loading" class="w-50 mt-3" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
              </div>
              <div class="col-5 d-flex align-items-stretch">
                <div class="border border-dark w-100 p-2">{{correctedText}}</div>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>
          Live mode
        </button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <div class="d-flex">
              <div class="col-6 px-3">
                <textarea [formControl]="liveText" class="w-100" rows="10"></textarea>
              </div>
              <div class="col-6 d-flex align-items-stretch flex-column px-3">
                <div class="border border-dark w-100 p-2 flex-grow-1" [innerHTML]="correctedLiveText"></div>
                <ngb-progressbar *ngIf="loadingLive" class="w-100" [value]="100" [striped]="true" [animated]="true"></ngb-progressbar>
              </div>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
